@charset "utf-8";
/*
Base style
*/
* {
    box-sizing: border-box;
}
body {
    color: rgb(230,230,230);
    background-color: rgb(10,15,25);
}
/*
SignInForm
*/
.SignIn {
    line-height: 2.5em;
    background-color:	rgb(30,40,60);
    height: 500px;
    width: 500px;
    margin: 50px auto;
    border-radius: 5px;
}
.SIheader {
    font-size: 30px;
    margin: 50px 30px 20px;
    padding: 20px 0 ;
}
.SIForm {
    margin: 20px 30px;
}
.SISec {
    margin: 20px 0;
    width: 400px;
}
.SIlabels {
    font-size: 15px;
    margin-bottom: 20px;
}
.TextForm {
    background-color: rgb(55, 65, 80);
    border: none;
    border-radius: 8px;
    width: 400px;
    height: 40px;
    cursor: text;
}
.TextForm:focus {
    background-color: rgb(230,230,230);
}
.signInButton {
    font-size: 20px;
    color: rgb(230,230,230);
    border: solid 0;
    background-color: rgb(30, 100, 240);
    border-radius: 8px;
    width: 400px;
    height: 40px;
    cursor: pointer;
}
/*
For NewMems
*/
.SUSec {
    color: rgb(90,100,120);
}
.signUp {
    color: rgb(30, 100, 240);
    text-decoration: none;
    cursor: pointer;
}