@charset "utf-8";

/*
Base style
*/
* {
    box-sizing: border-box;
}
body {
    color: rgb(255,230,255);
    background-color: rgb(10,15,25);
}

/*
SignInForm
*/
.signIn {
    line-height: 2.5em;
    background-color:	rgb(30,40,60);
    height: 500px;
    width: 500px;
    margin: 50px auto;
    border-radius: 5px;
}
.SIheader {
    font-size: 30px;
    margin: 50px 30px 20px;
    padding: 20px 0 ;
}
.SIForm {
    margin: 20px 30px;
}
.SISec {
    margin: 20px 0;
    width: 400px;
}
.SIlabels {
    font-size: 15px;
    margin-bottom: 20px;
}
.TextForm {
    background-color: #384053;
    border: none;
    border-radius: 8px;
    width: 400px;
    height: 40px;
    cursor: text;
}
.TextForm:focus {
    background-color: whitesmoke;
}

.signInButton {
    font-size: 20px;
    color: rgb(255,230,255);
    border: solid 0;
    background-color: #1C65F2;
    border-radius: 8px;
    width: 400px;
    height: 40px;
    cursor: pointer;
}

/*
For NewMems
*/
.SUSec {
    color: rgb(90,100,120);
}
.signUp {
    color: #1C65F2;
    text-decoration: none;
    cursor: pointer;
}